
/* Sempre mostrar scroll */
html {
    overflow: -moz-scrollbars-vertical; 
    overflow-y: scroll;
}

/* Corrige quebra do layout pelo bootbox */
body {
    position: relative;
    padding-right: 0 !important;      
}

/* Select 2 */

.select2-container .select2-selection--single .select2-selection__rendered {
  padding-top: 2px;
}
.select2-container .select2-selection--single {
  height: 34px;
}
.select2-container .select2-choice {
    height: 34px;
    line-height: 34px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    top:3px;
}
.select2-container, .select2-search, .select2-search {
    box-sizing: border-box;
    box-shadow: none;
    padding: 0;
    border: 0;
}
.select2-drop {
    padding: 0 3px;
}

/* Striped */

.list-group.list-group-striped .list-group-item:nth-child(odd) {
    background-color: #f9f9f9;
}

/* Hover */

.list-group.list-group-hover .list-group-item:hover {
    background-color: #f5f5f5;
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    background: #337ab7 !important;
}

/* Condensed */

.list-group-condensed > .list-group-item {
  padding: 5px 10px;
}

.panel-condensed > .panel-body, .panel-heading, .panel-footer {
  padding: 5px 10px;
}

/* Header */
ol.header {
    font-family: sans-serif;
    font-size: 2em;
    letter-spacing: -1px;
}


/*

.container-fluid {
    padding-left: 30px;
    padding-right: 30px;
}
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: red;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}

.bg-danger {
    background-color: #f2dede !important;
}

.controls .delete {
  margin-left: 5px;
}
.mz {
    margin: 0;
}
.clearfix .btn {
    margin: 5px 0 10px 0;
}

.search-cod {
    width: 80px !important;
}

.detail-view th {
  text-align: right;
}
.detail-view .null {
    color: #ffc0cb;
}


.carregar {
    margin-top: -11px;
}
.foto-item-unico img {
    height: 100%;
}
.foto-item-listagem {
    width: 120px;
}
.foto-item-unico {
    cursor: pointer;
    height: 100px;
    min-width: 150px;
    float: left;
    position: relative;
    overflow: hidden;
}
.foto-item-unico img {
    position: absolute;
    left: 0;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out; 
    transition: all 300ms ease-out;
}
.foto-item-unico .caption {
    position: absolute;
    z-index: 100;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out; 
    transition: all 300ms ease-out;
    right: 0;
}
.foto-item-unico .simple-caption {
    height: 30px;
    display: block;
    bottom: -24px;
    text-align: center;
}
.foto-item-unico .scale-caption h3 {
    -webkit-transition-delay: 300ms;
    -moz-transition-delay: 300ms;
    -o-transition-delay: 300ms;
    -ms-transition-delay: 300ms;    
    transition-delay: 300ms;
}
.foto-item-unico .scale-caption p {
    -webkit-transition-delay: 500ms;
    -moz-transition-delay: 500ms;
    -o-transition-delay: 500ms;
    -ms-transition-delay: 500ms;    
    transition-delay: 500ms;
}
.foto-item-unico:hover .simple-caption {
    -moz-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    opacity: 1;
    transform: translateY(-100%);
}
.foto-item-unico:hover .fade-caption, 
.foto-item-unico:hover .scale-caption  {
    opacity: 1;
}
.foto-item-unico:hover .slide-caption {
    background-color: rgba(0,0,0,1) !important;
    -moz-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    opacity: 1;
    transform: translateX(-100%);
}
.foto-item-unico:hover .scale-caption h3, 
.foto-item-unico:hover .scale-caption p {
    -moz-transform: translateX(200px);
    -o-transform: translateX(200px);
    -webkit-transform: translateX(200px);
    transform: translateX(200px);
}

*/