/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18/01/2016, 14:56:33
    Author     : escmig05
*/

body {
  padding-top: 100px;
}
hr {
  margin-bottom: 15px;
  margin-top: 15px;    
}
h1.header {
    font-family: sans-serif;
    letter-spacing: -1px;
}
.container-fluid {
    padding-left: 30px;
    padding-right: 30px;
}
.navbar-inverse .navbar-nav > li > a {
    color: #eee;
}
.bg-danger {
    background-color: #f2dede !important;
}
.controls .delete {
  margin-left: 5px;
}
.mz {
    margin: 0;
}
.auth h3 {
    margin: 5px;
    text-align: center;
    text-transform: uppercase;
}
.select2-container .select2-selection--single .select2-selection__rendered {
  padding-top: 2px;
}
.select2-container .select2-selection--single {
  height: 34px;
}
.select2-container .select2-choice {
    height: 34px;
    line-height: 34px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    top:3px;
}
.select2-container, .select2-search, .select2-search {
    box-sizing: border-box;
    box-shadow: none;
    padding: 0;
    border: 0;
}
.select2-drop {
    padding: 0 3px;
}
#submenu {
    top: 50px;
    z-index: 1;
}
#submenu .nav.navbar-nav a {
  padding-bottom: 10px;
  padding-top: 10px;
}
#submenu.navbar {
  min-height: 40px;
}
#submenu input {
  border: 0 none;
  color: #777;
  padding: 10px 10px 10px 5px;
  background: none;
}
.search-bar {

}
.search-cod {
    width: 80px !important;
}
.search-pessoa {
    width: 500px !important;
}
.search-bar #codfilial {
    width: 200px !important;
}
.detail-view th {
  text-align: right;
}
.detail-view .null {
    color: #ffc0cb;
}

/* Erro Form */
#form-erros {
    list-style: outside none square;
    padding: 15px 15px 15px 30px;
}
#form-erros > li {
    margin-bottom: 5px;
}

.titulo-btn-novo {
    font-size: 20px;
    padding-left: 20px;
    position: relative;
    top: -6px;
}

/* Produtos */
.produtos-grid-inativo {
    margin: 0 0 5px 0;
}

.subregistro .col-md-8 {
    margin-bottom: 5px;
}
.produtos-detalhes-produto {
    font-family: sans-serif;
    letter-spacing: -1px;
    margin: 0 0 20px;
    font-size: 28px;
}

.produtos-detalhe-preco {
    font-size: 5em;
    font-weight: bold;
    margin: 0;
}
.produtos-detalhe-preco-menor {
    font-size: 3em;
    font-weight: bold;
    margin: 0;
}
.produtos-detalhe-cifrao {
    font-size: 0.4em;
    font-weight: bold;
    margin: 8px 0 0;
}
#produto-detalhes {
    padding-bottom: 30px;
}
#produto-detalhes table th {
    text-align: right;
}
.produtos-combinacoes-titulo {
    font-size: 22px;
}
.produto-detalhes-unidade {
    font-size: 20px;
}
.bg-info .list-group-item {
    background: none;
}
.produtos-detalhe-carousel {
    min-height: 500px;
}
.carousel-control.left, 
.carousel-control.right {
    background: none;
}
.carousel-menu {
    margin-right: -1px;
    margin-top: -1px;
    position: relative;
    z-index: 100;
}
.produto-historico-preco > .list-group-item {
    padding: 10px 0;
}

#produto-search .form-group, 
#produto-npb-search .form-group {
    margin-bottom: 5px;
    position: relative;
}
.between {
    width: 82px !important;
}

/* Marcas */
.marcas-pagination {
    margin: 0;
}
.marca-imagem {
    position: relative;
    top: -65px;
}
.carregar {
    margin-top: 40px;
}
/*.foto-item-unico {
    height: 100px;
    margin-bottom: 10px;
    margin-top: -15px;
    position: absolute;
    right: 30px;
}*/
.foto-item-unico img {
    height: 100%;
}
.foto-item-listagem {
    width: 120px;
}
.foto-item-unico {
    cursor: pointer;
    height: 100px;
    min-width: 150px;
    float: left;
    position: relative;
    overflow: hidden;
}
.foto-item-unico img {
    position: absolute;
    left: 0;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;	
    transition: all 300ms ease-out;
}
.foto-item-unico .caption {
    position: absolute;
    z-index: 100;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;	
    transition: all 300ms ease-out;
    right: 0;
}
.foto-item-unico .simple-caption {
    height: 30px;
    display: block;
    bottom: -30px;
    text-align: center;
}
.foto-item-unico .scale-caption h3 {
    -webkit-transition-delay: 300ms;
    -moz-transition-delay: 300ms;
    -o-transition-delay: 300ms;
    -ms-transition-delay: 300ms;	
    transition-delay: 300ms;
}
.foto-item-unico .scale-caption p {
    -webkit-transition-delay: 500ms;
    -moz-transition-delay: 500ms;
    -o-transition-delay: 500ms;
    -ms-transition-delay: 500ms;	
    transition-delay: 500ms;
}
.foto-item-unico:hover .simple-caption {
    -moz-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    opacity: 1;
    transform: translateY(-100%);
}
.foto-item-unico:hover .fade-caption, 
.foto-item-unico:hover .scale-caption  {
    opacity: 1;
}
.foto-item-unico:hover .slide-caption {
    background-color: rgba(0,0,0,1) !important;
    -moz-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    opacity: 1;
    transform: translateX(-100%);
}
.foto-item-unico:hover .scale-caption h3, 
.foto-item-unico:hover .scale-caption p {
    -moz-transform: translateX(200px);
    -o-transform: translateX(200px);
    -webkit-transform: translateX(200px);
    transform: translateX(200px);
}


/* Estoque*/
#estoque-mes-filtro .col-sm-1 {
    padding-top: 8px
}

.btn-novo-titulo {
    margin: 0 0 0 20px;
}


.list-group.group-list-striped .list-group-item:nth-child(odd) {
    background-color: #f9f9f9;
}
.list-group.group-list-hover .list-group-item:hover {
    background-color: #f5f5f5;
}